* {
  font-size: 17px;
}

.hidden {
  display: none;
}

.non-hidden {
  display: block;
}

main {
  display: flex;
  flex-direction: row;
}

button {
  background-color: green;
  color: white;
}

label {
  color: blue;
}

.formpanel {
  background-color: lightyellow;
  border: 1px solid black;
  padding: 8px;
}

.tcont {
  background-color: beige;
  height: 400px;
  overflow-y: auto;
  overflow: auto;
  border: 1px solid black;
  padding: 10px;
}

.activ {
  background-color: darkblue;
  color: white;
}

#month-calendar {
  display: block;
  cursor: pointer;
  margin-left: 20px;
  width: 420px;
  height: 320px;
  background-color: lightgreen;
  color: darkblue;
}

#month-calendar td {
  width: 48px;
  height: 36px;
  background-color: beige;
  padding: 4px 2px;
  text-align: center;
}

#month-calendar.day {
  cursor: pointer;
}
