* {
  font-size: 17px;
}

.hidden {
  display: none;
}

.non-hidden {
  display: block;
}

button {
  background-color: green;
  color: white;
}

label {
  color: blue;
}

.formpanel {
  background-color: lightyellow;
  border: 1px solid black;
  padding: 8px;
}

.tcont {
  background-color: beige;
  height: 400px;
  overflow-y: auto;
  overflow: auto;
  border: 1px solid black;
  padding: 10px;
}

.activ td {
  background-color: darkblue;
  color: white;
}

.month-selector {
  display: block;
  width: 400px;
  height: 240px;
  background-color: lightgreen;
}

.month-selector td {
  width: 57px;
  height: 40px;
}

.month-selector.day {
  cursor: pointer;
}
